<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue test</title>
</head>
<body>

<!--vue2.5-->
<!-- vue 默认是绑定了 :key="index" -->
<div id="app">
    <ul>
        <li v-for="(item, index) in lists" :key="index">
            <comp v-model="lists[index]"></comp>
            <button @click="moveUp(index)">up</button>
            <button @click="moveDown(index)">down</button>
            <button @click="del(index)">del</button>
        </li>
    </ul>
</div>

<script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
<!--<script src="https://cdn.bootcss.com/vue/1.0.28/vue.js"></script>-->

<script>

// ok
Vue.component('comp', {
    props: ['value'],
    template: '<div><input :value="value.text"></div>',
    watch: {
        value(val, oldVal) {
            this.$emit('input', val);
        }
    }
});

// not ok
// Vue.component('comp', {
//     props: ['value'],
//     template: '<div><input :value="item.text"></div>',
//     data() {
//         return {
//             item: this.value
//         };
//     },
//     watch: {
//         item(val, oldVal) {
//             this.$emit('input', val);
//         }
//     }
// });

var vm = new Vue({
    el: '#app',
    data: function () {
        return {
            lists: [
                {
                    text: 1,
                    id: 1
                },
                {
                    text: 2,
                    id: 2
                },
                {
                    text: 3,
                    id: 3
                }
            ]
        };
    },
    methods: {
        moveUp: function (index) {
            if (index === 0) {
                return;
            }
            var item = this.lists.splice(index, 1);
            this.lists.splice(index - 1, 0, item[0]);
        },
        moveDown: function (index) {
            if (index === (this.lists.length - 1)) {
                return;
            }
            var item = this.lists.splice(index, 1);
            this.lists.splice(index + 1, 0, item[0]);
        },
        del: function (index) {
            this.lists.splice(index, 1);
        }
    }
});

</script>
</body>
</html>